<!DOCTYPE html>
<html>
  <head>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
     <link rel="stylesheet" href="/css/styles.css" media="all">
     <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
    <meta charset="utf-8">
    <title>Library</title>
  </head>
  <body>
      <div class="container">
          <h2>{{ book.getTitle }}</h2>
          {% if book is not empty %}
            <ul>
                {% for book in book %}
                    <li>{{ book.getTitle }}</li>
                {% endfor %}
            </ul>
                {% else %}
                    <p>There are no books listed in this library...</p>
          {% endif %}




        <h5>Delete Book</h5>
        <form action="/book/{{ book.getId }}/delete" method="post" class="form-group">
            <input name="_method" type="hidden" value="delete">

            <button type="submit" class="waves-effect waves-light btn-large" name="button">Delete</button>
        </form>
<br>
                    <a href="/librarian" type="submit" class="waves-effect waves-light btn-large" name="button">Return</a>
      </div>
  </body>
</html>
