<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
        <link rel="stylesheet" href="/css/styles.css" media="all">
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
        <meta charset="utf-8">
        <title>Library</title>
    </head>
    <body>
        <div class="container">
            <div class="navigation col s4 offset-s4">
                    <h4>Are you a</h4>

                    <a href="/librarian" type="submit" class="waves-effect waves-light btn-large">Librarian</a>

                    <h4>or are you a</h4>

                    <a href="/patron" type="submit" class="waves-effect waves-light btn-large">Patron</a>

            </div>
        </div>
  </body>
</html>
